.ran {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #24bd24;
    color: white;
    cursor: pointer;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
}


